.form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .78vw;

    div {
        display: flex;
        align-items: center;

        * {
            cursor: pointer;
        }

        input {
            margin-right: .26vw;
            accent-color: var(--focus-color);
        }
    }
}