.button {
    background: var(--focus-color);
    border: none;
    padding: .3vw .5vw .5vw;
    border-radius: 1.56vw;
    position: fixed;
    right: 10.42vw;
    bottom: 5.42vw;
    min-width: 3.08vw;
    min-height: 3.08vw;
}

.button:hover {
    background: linear-gradient(274.86deg, #FF8825 -0.98%, #FFB77B 66.18%, #FF8825 97.46%);
    box-shadow: inset 0 .21vw .21vw rgba(0, 0, 0, 0.25);
}

.img {
    width: 1.48vw;
    height: 1.48vw;
}